In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df1 = pd.read_csv('Resultados_Saber_Pro_Competencias_Genericas_2019-2.csv')
df2 = pd.read_csv('Resultados_Saber_Pro_Competencias_Especificas_2019-2.csv')

In [9]:
df1.shape

(260756, 105)

In [10]:
df2.shape

(401815, 5)

In [19]:
serie1=df1[(df1.ESTU_PRGM_ACADEMICO=='CONTADURIA PUBLICA')&\
(df1['INST_NOMBRE_INSTITUCION'].str.contains('UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.'))]\
[['ESTU_CONSECUTIVO','INST_NOMBRE_INSTITUCION']]

In [21]:
serie1.head()

       ESTU_CONSECUTIVO                       INST_NOMBRE_INSTITUCION
190418   EK201950125044  UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.
190441   EK201950125160  UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.
190442   EK201950125075  UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.
190443   EK201950124971  UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.
190444   EK201950125154  UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.

In [33]:
serie1.shape

(68, 2)

In [25]:
dataFrameFinal=pd.DataFrame(columns=['ESTU_CONSECUTIVO','RESULT_CODIGOPRUEBA','RESULT_PUNTAJE'])
dataFrameFinal

Empty DataFrame
Columns: [ESTU_CONSECUTIVO, RESULT_CODIGOPRUEBA, RESULT_PUNTAJE]
Index: []

In [37]:
serie1_1=df1[(df1.ESTU_PRGM_ACADEMICO=='INGENIERIA INDUSTRIAL')]['ESTU_CONSECUTIVO']
serie1_1.shape

(10763,)

In [36]:
serie1_1.head()

597     EK201950129061
1378    EK201950129317
1403    EK201950129076
1445    EK201950129276
1449    EK201950129631
Name: ESTU_CONSECUTIVO, dtype: object

Selecciona estudiantes que pertenecen a la serie y los adiciona al DataFrameFinal

In [35]:
contador = 0
contador2 = 0
contador3 = 0
contador0 = 0

for element in serie1_1:
    a = df2[df2.ESTU_CONSECUTIVO==element][['ESTU_CONSECUTIVO','RESULT_CODIGOPRUEBA','RESULT_PUNTAJE']]
    if a.shape[0]>0:
        dataFrameFinal=dataFrameFinal.append(a, ignore_index=True)
        contador+=1
        
        if a.shape[0]==3:
            contador3+=1
        elif a.shape[0]==2:
            contador2+=1
        else:
            contador0+=1
print(contador,contador2,contador3)

10456 960 9496

In [38]:
dataFrameFinal.shape

(30408, 3)

Selecciona estudiantes que pertenezcan a la serie, haciendo lo mismo que la sentencia for

In [40]:
dataFrameFinal_2=df2.loc[df2['ESTU_CONSECUTIVO'].isin(serie1_1)]
dataFrameFinal_2.shape

(30408, 5)

In [44]:
df3=dataFrameFinal_2.pivot_table('RESULT_PUNTAJE',['ESTU_CONSECUTIVO'],'RESULT_NOMBREPRUEBA')
# en el primer parametro van los datos que queremos ver en la tabla, en el segundo va el pivote o filas y por ultimo las columnas
df3.shape

(10456, 3)

In [43]:
df3.head()

RESULT_NOMBREPRUEBA,DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS,FORMULACIÓN DE PROYECTOS DE INGENIERÍA,PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA
ESTU_CONSECUTIVO,,,
EK201950087152,144.0,131.0,107.0
EK201950087154,151.0,134.0,136.0
EK201950087155,73.0,130.0,119.0
EK201950087157,145.0,145.0,128.0
EK201950087161,124.0,116.0,116.0

In [45]:
df3.dropna().count() # calcula cuantos tienen valor

RESULT_NOMBREPRUEBA
DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS           9496
FORMULACIÓN DE PROYECTOS DE INGENIERÍA                9496
PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA    9496
dtype: int64

In [49]:
df3['DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS'].isnull().sum() # calcula cuantos campos de esa columna son null

960

In [51]:
df3.reset_index(drop=True, inplace=False)
df3.head()

RESULT_NOMBREPRUEBA,DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS,FORMULACIÓN DE PROYECTOS DE INGENIERÍA,PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA
ESTU_CONSECUTIVO,,,
EK201950087152,144.0,131.0,107.0
EK201950087154,151.0,134.0,136.0
EK201950087155,73.0,130.0,119.0
EK201950087157,145.0,145.0,128.0
EK201950087161,124.0,116.0,116.0

In [52]:
df4=df1[(df1.ESTU_PRGM_ACADEMICO=='INGENIERIA INDUSTRIAL')\
&(df1['INST_NOMBRE_INSTITUCION'].str.contains('UNIVERSIDAD NACIONAL DE COLOMBIA-BOGOTÁ D.C.'))]\
[['ESTU_CONSECUTIVO','PUNT_GLOBAL']]
df4.head()

       ESTU_CONSECUTIVO  PUNT_GLOBAL
146228   EK201950129947          186
154029   EK201940000647          170
154186   EK201940000679          198
154470   EK201940001269          199
154477   EK201940000627          156

In [54]:
df_final = pd.merge(df3, df4, on='ESTU_CONSECUTIVO', how='outer')
df_final.shape

(10467, 5)

In [56]:
df_final.head()

,ESTU_CONSECUTIVO,DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS,FORMULACIÓN DE PROYECTOS DE INGENIERÍA,PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA,PUNT_GLOBAL
0,EK201950087152,144.0,131.0,107.0,NaN
1,EK201950087154,151.0,134.0,136.0,NaN
2,EK201950087155,73.0,130.0,119.0,NaN
3,EK201950087157,145.0,145.0,128.0,NaN
4,EK201950087161,124.0,116.0,116.0,NaN

In [57]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10467 entries, 0 to 10466
Data columns (total 5 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   ESTU_CONSECUTIVO                                    10467 non-null  object
 1   DISEÑO DE SISTEMAS PRODUCTIVOS Y LOGÍSTICOS         9496 non-null   float64
 2   FORMULACIÓN DE PROYECTOS DE INGENIERÍA              10456 non-null  float64
 3   PENSAMIENTO CIENTÍFICO - MATEMÁTICAS Y ESTADÍSTICA  10456 non-null  float64
 4   PUNT_GLOBAL                                         69 non-null     float64
dtypes: float64(4), object(1)
memory usage: 490.6+ KB